<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body class="container">

	<header th:replace="frag :: header"></header>
	
	<main>
		<h2 class="">Pizza update</h2>
		
			
		<div th:replace="frag :: errors"></div>
		
		<form
				th:object="${pizza}"
				method="POST"
				th:action="@{/pizze/store}"
			>
			
				<input type="number" name="id" th:field="*{id}" style="display:none" >
			
			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Name</label>
			    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" th:field="*{name}">
			    <div id="emailHelp" class="form-text">Insert the name of the pizza</div>
			  </div>
			  <div class="mb-3">
			    <label for="exampleInputPassword1" class="form-label">Description</label>
			    <input type="text" class="form-control" id="exampleInputPassword1" name="description" th:field="*{description}">
			  </div>
			  <div class="mb-3">
			    <label for="exampleInputPassword1" class="form-label">Price</label>
			    <input type="number" class="form-control" id="exampleCheck1" name="price" th:field="*{price}">
			  </div>
			  
			  <select name="promo" class="mb-3">
			  	<option th:value="NULL">NO PROMO</option>
				<option
					th:each="promo : ${promos}"
					th:object="${promo}"
					
					th:value="*{id}"
					th:field="${pizza.promo}"
				>
					[[*{titolo}]]
				</option>
			  </select>
			  
			  <div class="mb-3">
				  <div th:each="ingredient : ${ingredients}" th:object="${ingredient}">
				    <input type="checkbox"  name="ingredients" th:value="*{id}" th:field="${pizza.ingredients}">
				    <label>[[*{name}]]</label>	  
				  </div>
				  <div  class="form-text">Marcare ingredienti contenuti in questa pizza</div>	
			  </div>
		  
			  
			  <input type="submit" class="btn btn-primary" value="Update">
			  
		</form>
	
	</main>
</body>
</html>