<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<!-- header -->
	<header 
		class="mb-5 bg-light p-3 rounded container-fluid d-flex justify-content-between"
		th:fragment="header"
	>
		<div>
			<a class="btn btn-info" href="/">Pizze</a>
			<a href="/drinks" class="btn btn-info">Drinks</a>
			<a href="/promo" class="btn btn-info">Promos</a>
			<a href="/ingredients" class="btn btn-info">Ingredients</a>
		</div>
		<div>
			<a href="/drinks/search" class="btn btn-warning mb-1">Search</a>
			<a href="/search" class="btn btn-warning mb-1 mx-2">Search in all categories</a>
		</div>
	</header>
	
	<!-- errors -->
	<div
		th:fragment="errors"
		th:if="${errors} != NULL OR ${catchError} != NULL"
		class="text-danger fw-bolder"
	>
		ERROR:<br>
			<ul>
				<li
					th:each="error : ${errors}"
					th:object="${error}"
					class="text-danger"
				>
					[[*{defaultMessage}]]
				</li>
				<li
					th:if="${catchError} != NULL"
					class="text-danger"
				>
					[[*{catchError}]]
				</li>
			</ul>
	</div>
	
</body>
</html>